__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
build/
dist/
*.spec
*.exe
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
data/
*.json
assets/*.ico
bin/
.trae/